
/* Table */
.responses-table * {
    font-size: 0.95em;
}

.responses-table td {
    padding: 4px;
}

.responses-table .sort-button {
    width: 1em;
    margin-left: 5px;
    opacity: 0.7;
    cursor: pointer;
}
.responses-table .sort-button:hover {
    opacity: 1;    
    transform: scale(1.2)
}
.responses-table .sort-button:active {
    transform: scale(0.9);    
}
.responses-table .remind-img {
    width: 1.3em;
    padding: 3px;
}
.responses-table .remind-img:hover{
    animation: wiggle ease 0.3s 2;
    transition: 0.2s ease all;
}

/* Mark index if the latest reply was from user, and the grievance is still open*/
.responses-table .LRFU-0.open{
    background-color: #b4ffb7 !important;
}
.status-open{
    bgcolor:'red',
}
.status-red{
    bgcolor:'yellow',
}
/* Animations */
@keyframes wiggle {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        /*width: 1.4em;*/
        transform: rotateZ(15deg);
    }
    50% {
        /*width: 1.4em;*/
        transform: rotateZ(0deg);
    }
    75% {
        /*width: 1.4em;*/
        transform: rotateZ(-15deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}