<div class="booklet">
    <h3>{{name}}</h3>
    <p>{{topics}}</p>
</div>
<hr>
&nbsp;
<!--<a href="read.php?instance={{instance}}&b={{back_link}}" class="btn btn-info btn-large pull-right">Read</a>-->
<a href="read.php?bookletid={{bookletid}}&instance={{instance}}" class="btn btn-info btn-large pull-right">Read</a>