<div id="sortable">
    <label for="search">Search:
        <input type="text" id="bookletSearchBox" class="search" name="search">
        <button class="btn btn-info btn-small" onclick="resetTable()">Reset</button>
    </label>
    <hr>
    <table class="table table-bordered table-hover table-striped booklets_table">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>new</th>
            </tr>
        </thead>
        <tbody class="list">
            {{#booklets}}
            <tr>
                <td class="index">1</td>
                <td class="id">{{id}}</td>
                <td class="name">
                    <a href="{{href}}">{{name}}</a>
                </td>
                <td class="new">{{isNew}}</td>
            </tr>
            {{/booklets}}
        </tbody>
    </table>

</div>