<hr>
<h5>Your Feedback</h5>
<ul>
    <li>Rating: {{rating}}</li>
    <li>Comment: {{comment}}</li>
    <li>Submitted on: {{timestamp}}</li>
</ul>
<a class="link pull-right" href="{{updatelink}}"><u>Update</u></a>