<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View</title>
  <link rel="stylesheet" href="templates/extlibs/photoswipe.css">
  <link rel="stylesheet" href="templates/extlibs/default-skin.css">
  <link rel="stylesheet" href="templates/css/read.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body oncontextmenu="return false;">
  <div id="header">
    <h1 id='edumate'>edumate</h1>
    <h6>YOUR NEW MATE &trade;</h6>
    <p>Hi! I'm edumate, your new mate! I'm here to educate you.</p>
  </div>

  <section id="main_activity"> <!-- Dont mess with this section at ALL! -->
    <div class="my_goto">
      <form action="javascript:goto()">
        Page
        <input id="goto_field" type="number" min="1" formaction="submit" name="pageNo">
        <button type="submit">Go</button>
      </form>
    </div>
    <div class="back_button">
      <button onclick="goback()">Back</button>
    </div>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>
      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter" style="font-size: 1.2em;"></div>
            <!--<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>-->
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="ui">
    <div id="loading_activity" class="frenchRetreat">
      <div class="message">
        Be patient, downloading knowledge takes time...
      </div>
      <div class="loading-image">
        <img src="templates/images/loading.svg" alt="Loading...">
      </div>
    </div>
    <div id="modal_activity" class="frenchRetreat">
      <div class="message">
        ...And Something Crashed!
      </div>
      <span style="color:white; font-size:1.6em;">:(</span>
    </div>
  </section>

  <script src="templates/extlibs/photoswipe.js"></script>
  <script src="templates/extlibs/photoswipe-ui-default.js"></script>
  <script src="templates/js/read.js"></script>
</body>

</html>