.searchPanel {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
    transition: 200ms ease-out box-shadow, border-radius;
}

.searchPanel.floating {
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.searchPanel .topicSearchBox {
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
}

.searchPanel .topicSearchBox #topicSearch {
    outline: none;
    user-select: none;
    padding-left: 10px;
}

li.section.main.Physics .content h3.sectionname {
    background-color: #cfd0fe;
}
li.section.main.Chemistry .content h3.sectionname {
    background-color: #8c759f;
}
li.section.main.Maths .content h3.sectionname {
    background-color: #ffdfba;
}
li.section.main.Biology .content h3.sectionname {
    background-color: #f5b8c7;
}
li.section.main.Zoology .content h3.sectionname {
    background-color: #fbcdbe;
}