.paper-card{
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 70%;
    margin: auto;
    background-color: #f5f5f5;
}
.paper-card .paper-name{
    margin: 0px auto;
    margin-bottom: 10px;
    flex-basis: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
}
.paper-card .info {
    display: block;
    border: 2px solid black;
    padding: 10px;
}
.paper-card .info .item{
    position: relative;
    padding: 6px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0, 0.3);
    transition: 0.1s ease-out all;
}

.paper-card .info .duration-div{
    margin-right: 5%;
    text-align: center;
}
.paper-card .info .date-div{
    text-align: center;
}
.paper-card .info .syllabus-div{
    margin-top: 10px;
}
.paper-card .info .item:hover{
    box-shadow: 0px 2px 5px 1px rgba(0,0,0, 0.2);
    z-index: 10;
}

.marks-div {
    display: inline-block;
    flex-basis: 40%;
    flex-grow: 1;
    padding: 10px;
}
.paper-card #markstable{
    background-color: white;
    transition: 100ms ease-out box-shadow;
    font-size: 0.95em;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0, 0.3);   
}
.paper-card #markstable:hover{
    box-shadow: 0px 4px 10px 1px rgba(0,0,0, 0.2);
}

.paper-card .action-div {
    position: relative;
    width: 100%;
}
.paper-card .action {
    display: inline-block;
    position: absolute;
    padding: 5px 10px;
}
.paper-card .solutions {

}
.paper-card .show{
    right: 0;
}
