 
<div>
        <center>
                <h3>View Branch Student</h3>
        </center>
{{#branch_students}}{{count}}{{/branch_students}}
        <table class="blueTable">
            <thead>
                <tr>
                    <th>Roll Number</th>
                    <th>Student Name</th>
                    <th>Email Id</th>
                </tr>
            </thead>
        {{#branch_students}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{firstname}} {{lastname}}</td>
                    <td>{{email}}</td>
                </tr>
        {{/branch_students}}

        {{^branch_students}}
                <tr>
                     <td class="view_student_list_th view_student_list_table_td_td" colspan="7" style="padding:5px; text-align:center;">There are no record found</td>
                </tr>
        {{/branch_students}}
        </table>
</div>
<style>
        table.blueTable {
                border: 1px solid #1C6EA4;
                background-color: #EEEEEE;
                width: 100%;
                text-align: left;
                border-collapse: collapse; text-align:center;
        }
        table.blueTable td, table.blueTable th {
                border: 1px solid #AAAAAA;
                padding: 3px 2px;
        }
        table.blueTable tbody td {
                font-size: 13px;
        }
        table.blueTable tr:nth-child(even) {
                background: #D0E4F5;
        }
        table.blueTable thead {
                background: #1C6EA4;
                background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                border-bottom: 2px solid #fff;
        }
        table.blueTable thead th {
                font-size: 15px;
                font-weight: bold;
                color: #FFFFFF;
                border-left: 2px solid #D0E4F5;
        }
        table.blueTable thead th:first-child {
                border-left: none;
        }

        table.blueTable tfoot {
                font-size: 14px;
                font-weight: bold;
                color: #FFFFFF;
                background: #D0E4F5;
                background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
                background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
                background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
                border-top: 2px solid #444444;
        }
        table.blueTable tfoot td {
                font-size: 14px;
        }
        table.blueTable tfoot .links {
                text-align: right;
        }
        table.blueTable tfoot .links a{
                display: inline-block;
                background: #1C6EA4;
                color: #FFFFFF;
                padding: 2px 8px;
                border-radius: 5px;
        }
</style>
