<div>
    
    <table border='1'>
        <tbody>
            {{#user_list}}
            <tr>
                <td>{{username}}</td>
                <td>{{email}}</td>
            </tr>
            {{/user_list}}
        </tbody>
    </table>
</div>