
<table class="view_student_list_table_td_th view_student_list_table" width="100%">
        <thead>
            <tr>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Date</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">From</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">To</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Batch</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Topic</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Lecture No</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Notes</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="view_student_list_th view_student_list_table_td_td">17-Jun-2018</td>
                <td class="view_student_list_th view_student_list_table_td_td">08:00 AM</td>
                <td class="view_student_list_th view_student_list_table_td_td">11:00 AM</td>
                <td class="view_student_list_th view_student_list_table_td_td">Andheri - AR1 13th (Repeaters)</td>
                <td class="view_student_list_th view_student_list_table_td_td">Periodic Properites</td>
                <td class="view_student_list_th view_student_list_table_td_td">2</td>
                <td class="view_student_list_th view_student_list_table_td_td">2/2</td>
                <td class="view_student_list_th view_student_list_table_td_td"><a href=''>View</a>&nbsp;<a href='edit_faculty_register.php'>+</a></td>
                </tr>
   
           
  </tbody>
    </table>




<style>
   .view_student_list_table_td_th {
   border: 1px solid #eee; 
   }
   .view_student_list_table {
   border-collapse: collapse;
   width: 100%; text-align: center;
   }
    .view_student_list_table_td_td {
   border: 1px solid #ccc; 
   }
   .view_bg{ background:#21409a; color:#fff;}
   h6{color:#21409a;}
   
.square{background:#21409a; height:10px; width:10px;}
.index-header{font-size:12px;}
/*.list_class{list-style-type: circle;}*/
</style>