<div class="paper-card">
    <div class="paper-name">{{name}}</div>
    <hr>
    <div class="info">
        <div class="item duration-div"><span class="">Duration: <b>{{duration}}</b></span></div>
        <div class="item date-div"><span class="">Date: <b>{{date}}</b></span></div>
        <div class="item date-div"><span class="">Last Date: <b>{{lastdate}}</b></span></div>
    </div>
    <div class="marks-div">
        <table id="markstable" class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Question Type</th>
                    <th>Positive</th>
                    <th>Negative</th>
                </tr>
            </thead>
            <tbody>
                {{{markingscheme}}}
            </tbody>
        </table>
    </div>
    <div class="syllabus-div">
        <div style="text-align:center"><b>Syllabus</b></div>
        {{syllabus}}
    </div>
   

    <hr>
    <div class="action-div"> &nbsp;
        <div class="action show">
            <a href="{{testingportal_url}}" class="btn btn-primary" target="_blank">Show</a>
        </div>
    </div>
    <div id="performance"></div>
</div>
<style>
   .view_student_list_table_td_th {
   border: 1px solid #314c9a; 
   }
   .view_student_list_table {
   border-collapse: collapse;
   width: 100%; text-align: center;
   }
    .view_student_list_table_td_td {
   border: 1px solid #ccc; 
   }
   .view_bg{ background:#21409a; color:#fff;}
   h6{color:#21409a;}
     canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>


<link rel="stylesheet" href="templates/css/paper.css">
