<div class="paper-card">
    <div class="paper-name">{{name}}</div>
    <hr>
    <div class="info">
        <div class="item duration-div"><span class="">Duration: <b>{{duration}}</b></span></div>
        <div class="item date-div"><span class="">Date: <b>{{date}}</b></span></div>
        <div class="item date-div"><span class="">Last Date: <b>{{lastdate}}</b></span></div>
    </div>
    <div class="marks-div">
        <table id="markstable" class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Question Type</th>
                    <th>Positive</th>
                    <th>Negative</th>
                </tr>
            </thead>
            <tbody>
                {{{markingscheme}}}
            </tbody>
        </table>
    </div>
    <div class="syllabus-div">
        <div style="text-align:center"><b>Syllabus</b></div>
        {{syllabus}}
    </div>
    
    <hr>
    <div class="action-div"> &nbsp;
        <div class="action show">
            <a href="{{testingportal_url}}" class="btn btn-primary" target="_blank">Show</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="templates/css/paper.css">
