{{#view_multiple_idcards}}
<title>Center Code:{{branch}}</title>
<div style='float:left;'>

    <table>
        <tr>
            <td>
                <table cellspacing='0' cellpadding='0' id='idcardtable' style='width:8.8cm; height: 8.4cm; padding:0; margin:0; vertical-align: top; margin-bottom:-10px; '>
                    <tr>
                        <td style='height:1.8cm; vertical-align: bottom; padding-bottom: 10px;' colspan='2'>
                            <img src='pix/logo.png' border='0' style='max-width: 7.6cm;' />
                        </td>
                    </tr>

                    <tr>
                        <td style='font-size: 18px; margin-left:100px; font-weight: bold; padding-bottom: 5px;' colspan='2'>  {{student_fullname}}</td>
                    </tr>

                    <tr>
                        <td style='font-size: 18px; height:0.7cm; padding-bottom: 5px;' colspan='2'>ROLL NUMBER : <b>{{student_username}}</b></td>
                    </tr>

                    <tr>
                        <td style='height:5.3cm; text-align: right; width: 6.0cm;' >
                            <img src='{{src}}'  style='height:5.1cm; margin-left:50px; border:1px solid #000;  ' />
                        </td>
                        <td style='
                            /* Safari */
                            -webkit-transform: rotate(-90deg);

                            /* Firefox */
                            -moz-transform: rotate(-90deg);

                            /* IE */
                            -ms-transform: rotate(-90deg);

                            /* Opera */
                            -o-transform: rotate(-90deg);

                            float: left; border:1px solid #fff; color:#103c9d; width:108px; margin-left:-39px;margin-top:72px; font-size:14px;'>{{student_course}}
                        </td>
                    </tr>

                    <tr>
                        <td style='font-size: 18px; height:0.7cm; float:left; margin-left:75px; 'colspan=2>
                           <b> TARGET YEAR : {{student_targetyear}} </b>
                        </td>
                    </tr>

                    <tr>
                        <td style='font-size: 11px; height:0.5cm; font-weight:bold; 'colspan=2>
                            <center>CONTACT NO :  {{student_mobile_number}} </center>
                        </td>
                    </tr>

                    <tr>
                        <td style='font-size: 11px; height:0.5cm; font-weight:bold;' colspan=2>
                           <center> VALID TILL :    {{idcard_valid}} </center>
                        </td>
                    </tr>
                </table><img src='https://analysis.raoiit.com/images/riitstamp.png' width='80' id='riitstamp' />
            </td>
        </tr>
    </table>
</div>

{{/view_multiple_idcards}}

   {{^view_multiple_idcards}}
   <tr>
        <td class="view_student_list_table_td_td" align="center" style="padding:5px; text-align:center;" colspan="10"> <center>There are no ID Cards found</center></td>
    </tr>
{{/view_multiple_idcards}}   


<style>
html, 
body {
    width: 1366px !important; 
}

.hidden{display:none;visibility:hidden}
.visible-phone{display:none!important}
.visible-tablet{display:none!important}
.hidden-desktop{display:none!important}
.visible-desktop{display:inherit!important}




#idcardtable
{
border-collapse:collapse;
font-family: arial;
margin:0;
padding:0;
}

#idcardtable
{
border: 0px solid #000;
margin:0;
padding:0;
}

#idcardtable th
{
background-color: #e2fdff;
color: blue;
font-weight: bold;
font-size: 10px;
margin:0;
padding:0;
}

#idcardtable td
{
text-align: center;
vertical-align: top;
font-size: 12px;
margin:0;
padding:0;
}

#riitstamp
{
position: relative;
bottom: 3.0cm;
left: 0.80cm;
z-index: 100;
}
</style>
