<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div>
    <h3 align="center">Pending ID Cards</h3>
  <script>var p1 = "success";</script>
<h6 align="right"><a href="#">Back to Page</a></h6>

    <table class="view_student_list_table_td_th view_student_list_table" width="100%">
        <thead>
       
            <tr>
      
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Username</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Profile</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Student Fullname</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Center</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Course</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Target Year</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Mobile No</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Valid Date</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Approve / Reject</th>
                <th class="view_student_list_th view_student_list_table_td_th view_bg">Show</th>
            </tr>
        </thead>
        <tbody>
    {{#view_idcards}}
            <tr>
                <td class="view_student_list_th view_student_list_table_td_td">{{student_username}}</td>
                <td class="view_student_list_th view_student_list_table_td_td circle">
                <img src='{{profile_pic}}' style='width:80px;' /></td>
                <td class="view_student_list_th view_student_list_table_td_td">{{student_fullname}}</td>
                <td class="view_student_list_th view_student_list_table_td_td">{{branch}}</td>
                <td class="view_student_list_th view_student_list_table_td_td">{{student_course}}</td>
                <td class="view_student_list_th view_student_list_table_td_td">{{student_targetyear}}</td>
                <td class="view_student_list_th view_student_list_table_td_td">{{student_mobile_number}}</td>
                <td class="view_student_list_th view_student_list_table_td_td">{{idcard_valid}}</td>
                <td class="view_student_list_th view_student_list_table_td_td">
                <button style='background:none;' class="accept_class" name="1" value="{{id}}" id="accept_button"  />
                <img src="pix/correct.png" style="width:30px;height:30px;" class='accept_img' id="{{id}}" />
                </button>
                <button style='background:none;' class="reject_class" type="button" name="-1" value="{{id}}" id="reject_button"  />
                <img src="pix/wrong.png"  style="width:23px;height:23px;" class='reject_img' id="{{id}}" />
                </button>
                </td>
                <td class="view_student_list_th view_student_list_table_td_td"><a href="javascript:opencentredpopup('view_student_idcard.php?idcard_id={{id}}')"><img src='pix/view.jpg' style="width:30px;height:30px;" /></a></td>
                
            </tr>

    {{/view_idcards}}
  
        </tbody>
    </table>
    {{^view_idcards}}
    <tr>
        <td class="view_student_list_table_td_td" align="center" style="padding:5px; text-align:center;" colspan="10"> <center>There are no record found</center></td>
    </tr>
{{/view_idcards}}  

<script>
$(document).ready(function() {
	$('#page-help').each(function() {
		var $link = $(this);
		var $dialog = $('<div></div>')
			.load($link.attr('href'))
			.dialog({
				autoOpen: false,
				title: $link.attr('title'),
				width: 500,
				height: 300
			});

		$link.click(function() {
			$dialog.dialog('open');

			return false;
		});
	});
});
</script>

</div>
<script language="JavaScript">

function opencentredpopup(MyURL){

pagewidth=800;
pageheight=400;

NewPage1 = this.open(MyURL, "newpage1", "toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=yes,height=" + pageheight + ",width=" + pagewidth +",top=" + ((screen.height - pageheight)/2) + ",left=" + (screen.width - pagewidth)/2);
NewPage1.focus();
}
</script>
<script>
 $('.accept_class').click(function(){
    var id = $(this).val();
    var button_status = $(this).attr('name');
   
    var r = confirm("Do you really want to Accept this ID Card ??");
        if (r == true) {
        $.ajax({
                type: "POST",
                url: "update_data.php",
                data:'id='+id+'&button_status='+button_status,   
                success:function(res)
                {   
                    //alert("ID Card successfully submit to print");
                    $("#wait").css("display", "block");
                    setTimeout(function(){
                        $("#wait").hide();
                    },800);
                     //$("#id").show(800);
                     $('#'+ id +'.accept_img').show();
                     $('#'+ id +'.reject_img').hide();
                }
            });
        } else {
        return false;
        }
});

$('.reject_class').click(function(){
    var id = $(this).val();
    var button_status = $(this).attr('name');
    var r = confirm("Do you really want to reject this ID Card ??");
     if (r == true) {
        $.ajax({
                type: "POST",
                url: "update_data.php",
                data:'id='+id+'&button_status='+button_status,   
                success:function(res)
                {   
                    $("#wait").css("display", "block");
                    setTimeout(function(){
                        $("#wait").hide();
                    },800);
                    $('#'+ id +'.accept_img').hide();
                     $('#'+ id +'.reject_img').show();
                    //location.reload();
                }
            });
            } else {
                return false;
            }
});
</script>


<div id="wait" style="display:none;position:absolute;top:50%;left:50%;padding:2px;"><img src='pix/loader.gif' width="120" height="120" /></div>
<style>
   .view_student_list_table_td_th {
   border: 1px solid #314c9a;
   }
   .view_student_list_table {
   border-collapse: collapse;
   width: 100%; text-align: center; 
   }
    .view_student_list_table_td_td {
   border: 1px solid #ccc;  /* padding:5px; */
   }
   .view_bg{ background:#21409a; color:#fff;}
   h6{color:#21409a;}

   .circle img {
        transition: 1s ease;
   }

   .circle img:hover {
    transform: scale(2.0); 
   }
</style>