 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-fluid">
     
  <div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12"  align="left">
      <img src='https://www.raoiit.com/img/Rao%20IIT%20Full%20New%20website-Logo.png' class='img-responsive' style="width:400px;" />
    </div>


    {{#student_idcard}}
    <div class="col-sm-1" style="font-size:22px; font-weight:bold;  text-align: left;">
    &nbsp;
    </div>
    {{/student_idcard}}

      {{#student_idcard}}
    <div class="col-sm-10" style=" font-size:22px; font-weight:bold;  text-align: left;">
    {{student_fullname}}
    </div>
    {{/student_idcard}}


{{#student_idcard}}
    <div class="col-sm-1" style="font-size:22px; font-weight:bold;  text-align: left;">
    &nbsp;
    </div>
    {{/student_idcard}}
    

    {{#student_idcard}}
    <div class="col-sm-1" style="font-size:22px; font-weight:bold;  text-align: left;">
    &nbsp;
    </div>
    {{/student_idcard}}

      {{#student_idcard}}
    <div class="col-sm-10" style=" font-size:22px; font-weight:bold;  text-align: left;">
     ROLL NUMBER : {{student_username}}
     <script>
     var student_rollnumber = {{student_username}} ;
     </script>
    </div>
    {{/student_idcard}}




{{#student_idcard}}
    <div class="col-sm-1" style="font-size:22px; font-weight:bold;  text-align: left;">
    &nbsp;
    </div>
    {{/student_idcard}}
    
    {{#student_idcard}}
    <div class="col-sm-1" style="font-size:22px; font-weight:bold;  text-align: left;">
    &nbsp;
    </div>
    {{/student_idcard}}

    {{#student_idcard}}
    <div class="col-sm-4">
     <img src="{{profile_pic}}" class="img-responsive" />
     <img src="https://analysis.raoiit.com/images/riitstamp.png" class='img-responsive' style='position: absolute;top: 190px;left: -10px;'>
    </div>
    {{/student_idcard}}
        {{#student_idcard}}
    <div class="col-sm-1" style='writing-mode: vertical-rl; color:#103c9d; text-orientation: upright;'>
    <p>{{student_course}}</p>
    </div>
    {{/student_idcard}}


{{#student_idcard}}
    <div class="col-sm-7" style="font-size:22px; font-weight:bold;  text-align: left;">
    &nbsp;
    </div>
    {{/student_idcard}}
    

    {{#student_idcard}}
    <div class="col-sm-1" style=" font-size:22px; font-weight:bold;  text-align: left;">
    &nbsp;
    </div>
    {{/student_idcard}}
    
    
    {{#student_idcard}}
    <div class="col-sm-12" style=" font-size:22px; font-weight:bold;  text-align: left;">
    <div class="col-sm-1" style=" font-size:22px; font-weight:bold;  text-align: left;">
    &nbsp;
    </div>
    TARGET YEAR : {{student_targetyear}}
    </div>
    </div>
    {{/student_idcard}}



{{#student_idcard}}
    <div class="col-sm-12" style=" font-size:15px;">
    <div class="col-sm-6" style=" font-size:15px;  text-align: center;">
    Contact No : {{student_mobile_number}}
    </div>
    </div>
     {{/student_idcard}}
    
{{#student_idcard}}
 <div class="col-sm-6" style=" font-size:15px;  text-align: center;">
    {{idcard_valid}}    
    </div>
{{/student_idcard}}

<a onclick="idcard_print()" target="_blank" href=''>Print this page</a>

<script>
function idcard_print() {
    var tempTitle = document.title;
    document.title = student_rollnumber;
    window.print();
    document.title = tempTitle;
}
</script>
  </div>
  </div>
</div>
<div>
   