.timetable-list {
    list-style: none;
    margin: 0px;
}

.timetable-list .header {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 2px 5px;
}
.timetable-list .lecture-item {
    position: relative;
    padding: 6px;
    /*box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.8);*/
    background-color: #fefefe;
    border-bottom: 1px solid #333;
}
.timetable-list .lecture-item:last-child {
    border-bottom: none;
}
.timetable-list .time {
    display: inline-block;
    margin-right: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-style: italic;
}
.timetable-list .subject {
    display: inline-block;
    width: 40%;
    margin-bottom: 3px;
}
.timetable-list .topic {
    display: inline-block;
    font-size: 1.2em;
    padding: 2px;
    width: 65%;
}
.timetable-list .teacher {
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    padding: 2px;
    width: 25%;
    vertical-align: top;
}



.label.physics {
    /*background-color: lightcoral;
    text-shadow: none;    */
    background-color: #d32f2f !important;  color:#fff !important;
}
.label.chemistry {
    /*background-color: lightgreen;
    color: #333333;
    text-shadow: none;*/
    background-color: #0d47a1 !important; color:#fff !important;
}
.label.mathematics {
    /*background-color: red;
    text-shadow: none;*/
    background-color: #f57c00 !important; color:#fff !important;
}
.label.botany {
    /*background-color: red;
    text-shadow: none;*/
    background-color: #6d4c41 !important; color:#fff !important;
}
.label.zoology {
    /*background-color: red;
    text-shadow: none;*/
    background-color: #1b5e20 !important;  color:#fff !important;
}

