<div class="control-panel">
    <a class="btn btn-default" href="review_response.php?action=managermode&cid={{courseid}}">Manage Departments</a>
</div>
<hr>
    <h3 class="text-danger">{{message}}</h3>
<hr>
<div id="sortable">
    <label for="search">Search: 
        <input id="grievanceSearchBox" class="search" name="search" placeholder="Start Searching..."/>
        <button class="btn btn-info btn-small" onclick="resetTable()">Reset</button>
    </label>
    <hr>
    <table class="table table-bordered table-hover table-striped responses-table">
        <thead>
            <tr>
                <td>
                    Sr
                    <a class="sort" data-sort="index"><img src="templates/res/sort-button.png" class="sort-button" alt="sort" /></a>
                </td>
                <td>
                    Category
                    <a class="sort" data-sort="category"><img src="templates/res/sort-button.png" class="sort-button" alt="sort" /></a>
                </td>
                <td>
                    Time
                    <a class="sort" data-sort="timecreated"><img src="templates/res/sort-button.png" class="sort-button" alt="sort" /></a>
                </td>
                <td>
                    Subject
                </td>
                <td>
                    Description
                </td>
                <td>
                    User
                </td>
                <td>
                    Status
                    <a class="sort" data-sort="status"><img src="templates/res/sort-button.png" class="sort-button" alt="sort" /></a>
                </td>
                <td>
                    Responses
                </td>
                <td>
                    Actions
                </td>
            </tr>

        </thead>
        <tbody class="list">
            {{#grievances}}
            <tr>
                <td class="index">{{index}}</td>
                <td class="category">{{cname}}</td>
                <td class="timecreated">{{etimecreated}}</td>
                <td class="subject">{{esubject}}</td>
                <td class="description">{{edescription}}</td>
                <td class="user">{{username}}</td>
                <td class="status">{{estatus}}</td>
                <td>Approved: {{approvedcount}} <br> Total: {{replycount}}</td>
                <td>
                    <a href="{{viewlink}}" target="_blank">View</a> <br>
                    <a href="{{remindlink}}">
                        Remind Dept
                    </a>
                </td>
            </tr>
            {{/grievances}}
        </tbody>
    </table>
</div>
<!-- SCRIPTS -->
<script src="templates/extlibs/list.js"></script>
<script src="templates/js/grievance_responses.js"></script>
<!-- STYLE -->
<link rel="stylesheet" href="templates/css/style.css">