<div>
    <table border='1'>
        <thead>
            <th>Name</th>
            <th>Subject</th>
        </thead>
        <tbody>
            {{#topics}}
            <tr>
                <td><a href='{{edit_url}}'>{{name}}</a></td>
                <td>{{subject}}</td>
            </tr>
            {{/topics}}
        </tbody>
    </table>
</div>