<!--
Displays the topic completion report for the user
-->
{{#data}}
<div class='completionreport'>
    <h3>Completed Topics</h3>
    {{#report}}
        <div class='{{subject}}'>
            <h4 data-toggle="collapse" data-target="#{{subject}}" class="accord_h4">{{subject}} &#8595;</h4>
            <div id="{{subject}}" class="collapse shadow">
            <ul>
                {{#items}}
                <li>{{name}}</li>
                {{/items}}
            </ul>
            </div>
        </div>
    {{/report}}
</div>
<div class='ptmrecords'>
    <h3>Batch Records</h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {{#ptm}}
            <tr>
                <td>{{date}}</td>
                <td>{{event}}</td>
            </tr>
            {{/ptm}}
        </tbody>
    </table>
    <table id="customers">
  <tr>
    <th>Batch</th>
    <th>Notes</th>
    
  </tr>
  <tr>
    <td>Dummy</td>
    <td>Dummy</td>

  </tr>
  <tr>
    <td>Dummy</td>
    <td>Dummy</td>
 
  </tr>
  <tr>
    <td>Dummy</td>
    <td>Dummy</td>

  </tr>
  <tr>
   <td>Dummy</td>
   <td>Dummy</td>

  </tr>
  
</table>

</div>
{{/data}}
<link rel="stylesheet" href="templates/css/view.css">
<!--Accordion css and js-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--End Accordion css and js-->