<!--
   Displays the topic completion report for the user
   -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <h3>Chapter Completion Report</h3>
   <span style='color:red; '>Note : (B) is denoted to Boards<br/></span>
{{#data}}
<div id="accordion">
   {{#report}}
   <h3 class='accord_h4'>{{subject}}</h3>
   <div class='shadow'>
  <div class="row"  >
     {{#items}}  
  <div class="col-sm-3 topics">{{name}}</div>
     {{/items}}  
</div>

         <!--<ul style='list-style: none;'>
         {{#items}}
         <li style='font-size: 15px; color:#333; list-style=none; margin-bottom:2px;'> &#8594; {{name}}</li>
         {{/items}}
      </ul>-->
   </div>
   {{/report}}
</div>
<div class='ptmrecords'>
   <h3>Parents Teacher Meeting Records</h3>
   <table id="batch_records">
      <thead>
         <tr>
            <th>Date</th>
            <th>Notes</th>
         </tr>
      </thead>
      <tbody>
         {{#ptm}}
         <tr>
            <td>{{date}}</td>
            <td>{{event}}</td>
         </tr>
         {{/ptm}}
      </tbody>
   </table>
</div>
{{/data}}
<link rel="stylesheet" href="templates/css/view.css">

 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
   $( function() {
     $( "#accordion" ).accordion();
   } );
</script>