<!--
Displays the topic completion report for the user
-->
{{#data}}
<div class='completionreport'>
    <h3>Completed Topics</h3>
    {{#report}}
        <div class='{{subject}}'>
            <h4>{{subject}}</h4>
            <ul>
                {{#items}}
                <li>{{name}}</li>
                {{/items}}
            </ul>
        </div>
    {{/report}}
</div>
<div>
    <h3>Parent Teacher Meeting Records</h3>
    <table>
        <thead class="tt-header">
            <tr>
                <th>Date</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {{#ptm}}
            <tr>
                <td>{{date}}</td>
                <td>{{event}}</td>
            </tr>
            {{/ptm}}
        </tbody>
    </table>
</div>
{{/data}}
<link rel="stylesheet" href="templates/css/view.css">

