

    <div class="timetable">
    <div id="index">
        <div class="index-header">Jump To:</div>
        {{#days}}
        <!--<div class="index-item" onclick="jumpTo('{{fancydate}}')">{{fancydate}}</div>-->
        <div class="index-item">{{fancydate}}</div>
        {{/days}}
    </div>

<div id="accordion">
 {{#days}}
  <h3 id="{{fancydate}}" class="date" >{{fancydate}}</h3>
  <div>
    <p>
   <table class="table table-bordered">
        <thead id="theader" class="tt-header">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Faculty</th>
                <th>Topics/Test</th>
                <th>Notes</th>
                <th>Batch</th>
            </tr>
            <tr>
                <td id="{{fancydate}}" colspan="7" class="date">{{fancydate}}</td>
            </tr>
            {{#items}}
                <tr class="{{subject}} {{testclass}} {{cancelclass}}">
                    <td>{{starttime}}</td>
                    <td>{{endtime}}</td>
                    <td>{{teacher}}</td>
                    <th>{{topicname}}</th>
                    <td>{{notes}}</td>
                    <td>{{batch}}</td>
            </tr>
                {{/items}}
        </thead>
        <tbody>
        </table>
    </p>
  </div>
  {{/days}}
  </div>
</div>
<link rel="stylesheet" href="templates/css/view.css">
